In [1]:
from __future__ import print_function, division
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline
# 控制台模式

In [ ]:
%matplotlib auto
# 弹出窗模式

---

## 分析气象数据

为了分析气象数据而计算的

---

In [3]:
pd.set_option('max_columns',10, 'max_rows',10)
doc_path='.\data\prec_anomly19792018.txt'

### 读取数据

In [4]:
meta_data=pd.read_table(doc_path,header=None,)

In [5]:
meta_data

,0,1,2,3,4,...,360,361,362,363,364
0,-0.741253,-0.645359,-0.478725,-0.896056,-0.698506,...,-0.018607,-0.175278,0.586762,1.047256,0.590309
1,-0.415666,0.268264,0.645811,1.924474,2.794995,...,0.648098,0.070388,0.095490,0.137780,0.899387
2,2.382072,-0.411710,-0.311848,-0.630245,-0.750757,...,0.011480,-0.095601,0.478067,2.137432,-0.375406
3,-0.827786,-0.639185,-0.277071,1.072752,0.523759,...,2.137651,-0.270193,-0.731400,-0.493505,0.748455
4,-0.001910,-0.071389,-0.580977,-0.916697,-0.762958,...,-0.088155,-0.317922,-0.295627,-0.371823,-0.566176
...,...,...,...,...,...,...,...,...,...,...,...
35,-1.043611,-0.807714,-0.505089,-0.664845,-0.640764,...,-0.733755,-1.009730,-0.996886,-0.594579,0.306862
36,-0.608416,-0.630382,-0.031259,0.133204,-0.451408,...,-0.740063,-1.008006,-0.807867,-0.698847,-0.637335
37,-0.240705,-0.303384,-0.587043,-0.111717,-0.104185,...,-0.519735,-0.916058,-0.697327,-0.766009,-0.871450
38,-1.039000,-0.638312,-0.383609,-0.697093,-0.739865,...,-0.610935,-0.575137,-0.818874,-0.846065,-0.627816
39,-0.705481,-0.507595,-0.450736,-0.252793,0.244516,...,-0.753145,-1.000000,-0.961877,-0.803010,-0.541691

In [6]:
one_data=np.array(meta_data).flatten()

In [7]:
one_data.mean()

1.301369857781363e-09

In [8]:
len(one_data)

14600

In [9]:
np.arange(len(one_data))

array([    0,     1,     2, ..., 14597, 14598, 14599])

---

### 极端事件

In [10]:
def extrme_e(data,all_data,p=3):
    '''定义极端事件，大于均值±p个标准差
    data为极端事件则返回True
    '''
    mean=np.array(all_data).mean()
    std=np.array(all_data).std()
    if (data>mean-p*std) and (data<mean+p*std):
        return False
    else:
        return True

---

### 绘图

In [11]:
# 获取极端事件的字典
ex_events=[]
time_lists=[]
# 记录极端事件发生的时间

time=0
for i in one_data:
    if extrme_e(i,one_data,p=1):
        time_lists.append(time)
        ex_events.append(i)
    time+=1

extrme_dic={'time':time_lists,'events':ex_events}
ex_df=pd.DataFrame(extrme_dic)

In [13]:
len(extrme_dic['time'])

2028

In [14]:
ex_df['delta_time']=(ex_df['time']-ex_df['time'].shift(1)).fillna(0)

In [15]:
ex_df

       time    events  delta_time
0        14  3.557784         0.0
1        15  3.520218         1.0
2        16  2.154095         1.0
3        17  1.681056         1.0
4        18  1.322898         1.0
...     ...       ...         ...
2023  14574  4.746892         1.0
2024  14578  3.908970         4.0
2025  14586  1.357513         8.0
2026  14592  1.679382         6.0
2027  14596 -1.000000         4.0

[2028 rows x 3 columns]

In [16]:
ex_df[ex_df.time<365].loc[:,'time']

0      14
1      15
2      16
3      17
4      18
     ...
42    322
43    332
44    351
45    353
46    363
Name: time, Length: 47, dtype: int64

---

In [17]:
np.array(one_data).mean()

1.301369857781363e-09

In [ ]:
fig,ax=plt.subplots(figsize=(50,10))
# ax.vlines(ex_df.loc[:,'time'],0,ex_df.loc[:,'events'],color='navy')

ax.vlines(np.arange(len(one_data)),0,one_data,color='navy')

d_mean=np.array(one_data).mean()
d_std=np.array(one_data).std()

ax.axhline(d_mean,color='lime',lw=5,label='mean')

ax.axhline(d_mean-d_std,color='brown',lw=5,label='mean±std')
ax.axhline(d_mean+d_std,color='brown',lw=5)

ax.set_xlabel('time(day)',font)
ax.set_title('all year',font)

ax.legend()

# fig.savefig('.//data//prec_anomly/prec_all_year.jpg',dpi=72, bbox_inches = 'tight')

fig.show()

In [ ]:
font = {'family' : 'normal',
        'weight' : 'roman',
        'size' : 30}

In [ ]:
pic_path='.//data//prec_anomly/extreme_first_year.jpg'
p_title='one year'

li_data=ex_df[ex_df<365].loc[:,'time']

fig,ax=plt.subplots(figsize=(50,10))
# ax.axvline(ex_events[0],ymax=0.8,color='navy')
ax.vlines(li_data,0,[0.75,],color='navy')

ax.set_title(p_title,font)

ax.set_ylim(0,1)
ax.set_yticks([])

# ax.set_xticks()
ax.set_xlabel('time(day)',font)

ax.tick_params(labelsize=20)

fig.tight_layout()
# fig.savefig(pic_path,dpi=72, bbox_inches = 'tight')
fig.show()